.content-container{
    display: flex;
    justify-content: center;
    overflow-y: scroll;
}

.middle-section{
    position: relative;
    left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 696px;
    padding: 0px 32px;
    margin-bottom: 2000px;
}

.status-section{
    padding: 0px 2px;
    background-color:rgb(42, 43, 48);
    border-radius: 8px;
    width: 696px;
    position: absolute;
    top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.status-container{
    display: flex;
    align-items: center;
    padding: 10px 0px;
    margin-top: 2px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.66);
    width: 96%;
}

.profile-picture-status{
    height: 38px;
    width: 38px;
    border-radius: 18px;
    object-fit: cover;
    object-position: center;
}

.caption-section{
    background-color: rgb(53, 56, 59);
    margin-left: 10px;
    flex:1;
    padding: 12px 12px;
    padding-top: 16px;
    border: none;
    border-radius: 24px;
}

.caption-section::placeholder{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
    line-height: 1.5;
    font-size: 18px;
    color: #b6b9bb;
    font-weight: 400;
}

.media-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    padding: 0px;
}

.live-video-container,
.photo-container,
.feeling-activity-container{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;;
    padding: 2px 24px;
}

.live-video-container:hover,
.photo-container:hover,
.feeling-activity-container:hover{
    background-color: rgba(138, 138, 138, 0.2);
    border-radius: 6px;
    cursor: pointer;
}

.media-title{
    color: #cbced1;
    font-weight: 600;
    margin: 10px 6px;
}

.media-logo{
    height: 28px;
    width: 28px;
}


/* Story Section */
.story-section{
    position: relative;
    top: 148px;
    height: 250px;
    width: 696px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.story-section::-webkit-scrollbar {
    width: 2px;
    height: 8px;
    opacity: 0;
    transition: opacity 0.3 ease;
}

.story-section::-webkit-scrollbar-thumb {
    background-color: rgba(163, 163, 163, 0.5);
    border-radius: 24px;
}

.story-post{
    position: relative;
    margin-right: 8px;
    height: 200px;
    width: 112px;
    border-radius: 8px;
    background-color: rgb(53, 56, 59);
    overflow: hidden;
    flex-shrink: 0;
    cursor: pointer;
}

.my-image{
    height: 150px;
    width: 115px;
    object-position: top;
    object-fit: cover;
}

.story-image{
    height: 200px;
    width: 115px;
    border-radius: 8px;
    object-position: center;
    object-fit: cover;
}

.clear-overlay{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: rgba(0, 0, 0, 0.3);
}

.add-story{
    background-color: white;
    position: relative;
    bottom: 22px;
    left: 41px;
    height: 28px;
    width: 28px;
    border-radius: 20px;
    border: 6px solid  rgb(53, 56, 59);
}

.plus-image{
    position: absolute;
    bottom: -4px;
    left: -4.5px;
    height: 38px;
    width: 38px;
    border-radius: 20px;
}

.create-story{
    color: rgb(241, 241, 241);
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    bottom: 0px;
    left: 25px;
}

.story-profile-picture{
    position: absolute;
    top: 10px;
    left: 10px;
    height: 34px;
    width: 34px;
    border-radius: 100%;
    border: 3px solid rgb(17, 136, 255);
    object-position: center;
    object-fit: contain;
}

.friend-name{
    color: rgb(241, 241, 241);
    font-size: 12px;
    font-weight: 600;
    width: 80px;
    position: absolute;
    bottom: -2px;
    left: 10px;
}

.posts-section{
    position: relative;
    top: 168px;
    width: 696px;
    z-index: 10;

    display: flex;
    flex-direction: column;
}

.post-container{
    color: rgb(176, 179, 184);
    background-color:rgb(42, 43, 48);
    height: 888px;
    width: 696px;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}


.friend-info-container{
    height: 48px;
    display: flex;
    align-items: center;
    padding-top: 12px;
    padding-left: 12px;

}

.friend-profile-picture{
    height: 35px;
    width: 35px;
    border-radius: 20px;
    border: 3px solid rgb(17, 136, 255);
    
}

.post-details{
    flex: 1;
    margin-left: 12px;
}

.post-friend-name,
.post-date-time{
    margin: 6px 0px;
}

.post-friend{
    font-size: 14px;
    margin: 0px;
}

.post-friend-name{
    color: rgb(245, 245, 245);
    font-weight: 550;
}

.post-friend-name:hover{
    text-decoration: underline;
    cursor: pointer;
}

.join-follow{
    color: rgb(91, 173, 255);
    transition: text-decoration 0.15s;
}

.join-follow:hover{
    text-decoration: underline;
    cursor: pointer;
}

.post-date-time{
    font-size: 12px;
    font-weight: 500;
}

.post-date-time:hover{
    text-decoration: underline;
    cursor: pointer;
}

.post-option-button,
.post-close-button{
    height: 20px; 
    width: 20px;
    margin-right: 12px;
}

.post-option-button:hover,
.post-close-button:hover{
    cursor: pointer;
}


.caption-container{
    color: rgb(212, 214, 219);
    padding: 4px 12px 16px;
}

.caption{
    margin: 0px;
    font-size: 14px;
    font-weight: 550;;
}

.image-container{
    max-width: 696px;
    max-height: 700px;
    overflow: hidden;
}

.post-image{
    object-fit: cover;
    object-position: center;
}


.reaction-container{
    height: 82px; 
    width: 696px;

    display: flex;
    flex-direction: column;
}

.post-reaction-count{
    display: flex;
    justify-content: space-between;
    margin: 4px 12px;
    align-items: center;
    border-bottom: 1px solid gray;
}

.post-reaction-count p{
    margin: 8px;
    margin-top: 6px;
}
.reaction-count-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.laugh-reaction{
    height: 23px;
    width: 23px;
}

.reaction-count{
    margin-left: 3px;
    font-size: 16px;
    font-weight: 450;
}

.reaction-count:hover{
    text-decoration:underline;
    cursor: pointer;
}

.comment-share-count{
    display: flex;
    align-items: center;
}

.comment-count,
.share-count{
    font-size: 16px;
    font-weight: 450;
}

.comment-count:hover,
.share-count:hover{
    text-decoration:underline;
    cursor: pointer;
}

.comment-count{
    margin-right: 12px;
}

.post-reaction-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 12px;
}

.button-image{
    height: 26px;
    width: 26px;
}

.button-title{
    margin-left: 6px;
    font-size: 16px;
    font-weight: 500;
}

.like-container,
.comment-container,
.share-container{
    flex: 1;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.like-container:hover,
.comment-container:hover,
.share-container:hover{
    background-color: rgba(138, 138, 138, 0.2);
    border-radius: 8px;
    cursor: pointer;
}